# Created by https://www.toptal.com/developers/gitignore/api/java,windows,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=java,windows,macos

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Gradle ###
# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Avoid ignoring Gradle wrapper jar file
!gradle/wrapper/gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle/wrapper/gradle-wrapper.properties

# Cache of project
.gradletasknamecache

### Spring Boot ###
# Spring Boot specific
*.pid
*.log
*.log.*

# Local configuration files
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

### IDE ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Database ###
# Database files
*.db
*.sqlite
*.sqlite3
*.h2.db

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Editorconfig
.editorconfig

# End of https://www.toptal.com/developers/gitignore/api/java,windows,macos

# Docker-Dev-Env
docker-compose.dev.yml
.dockerignore

# Scripts
scripts/